<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New photo</title>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript"
            src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<h1 class="text-center">Photo</h1>
<style>
    .form-photo {
        max-width: 550px;
        padding: 15px;
        margin: 0 auto;
    }
</style>
<div class="container text-center">
    <form class="form-photo" action="./" method="post">
        {% load bootstrap %}
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</form>
</body>
</html>