<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo list</title>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript"
            src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<h1 class="text-center">Photos</h1>
<form action="/lab02/photo/clicked/" method="post">
    {% csrf_token %}
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-responsive table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                    <th></th>
                    <th class="header"> Name <i class="icon-sort"></i></th>
                    <th class="header"> Camera <i class="icon-sort"></i></th>
                    <th class="header"> Location <i class="icon-sort"></i>
                    </th>
                    <th class="header"> Photographer <i class="icon-sort"></i>
                    </th>
                    <th class="header"> Aperture <i class="icon-sort"></i></th>
                    <th class="header"> ISO <i class="icon-sort"></i></th>
                    <th class="header"> Shot time <i class="icon-sort"></i></th>
                </tr>
                </thead>
                <tbody>

                {% for p in object_list %}
                    <tr>
                        <td>
                            <div class="radio-sm">
                                <label><input type="radio" id='express'
                                              name="tableradio"
                                              value="{{ p.id }}"></label>
                            </div>
                        </td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.photographer_name }}</td>
                        <td>{{ p.camera_name }}</td>
                        <td>{{ p.location_name }}</td>
                        <td>{{ p.aperture }}</td>
                        <td>{{ p.iso }}</td>
                        <td>{{ p.shot_time }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="container text-center">
            <a type="button" class="btn btn-primary" name="add_button"
               href="{% url 'new_photo' %}">Add
            </a>
            <button type="submit" class="btn btn-primary" name="editbtn">
                Edit
            </button>
            <button type="submit" class="btn btn-primary" name="deletebtn">
                Delete
            </button>
        </div>
    </div>
</form>
</body>
</html>