<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter photos</title>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript"
            src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<style>
    .form-photo {
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
    }
</style>
<h1 class="text-center">Photographer</h1>
<form class="form-photo form-horizontal" action="lab02" method="post">
    {% load bootstrap %}
    {% csrf_token %}
    {{ form|bootstrap_horizontal }}
    <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
<div class="col-lg-12">
    <div class="table-responsive">
        <table class="table table-responsive table-bordered table-hover table-striped tablesorter">
            <thead>
            <tr>
                <th class="header"> Name <i class="icon-sort"></i></th>
                <th class="header"> Level <i class="icon-sort"></i></th>
                <th class="header"> Email <i class="icon-sort"></i>
                </th>
            </tr>
            </thead>
            <tbody>

            {% for photographer in object_list %}
                <tr>
                    <td>{{ photographer.name }}</td>
                    <td>{{ photographer.level }}</td>
                    <td>{{ photographer.email }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
</body>
</html>